#bodyApp {
    background-color: var(--body-bg-color);
    display: flex;
    color: var(--text-color);
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

span {
    font-size: 12px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

aside, section {
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

aside {
    width: var(--aside-size);
}

section {
    width: calc(100vw - var(--aside-size));
}

ul {
    list-style-type: none;
}

.card {
    padding: 30px;
    background-color: var(--bg-cards);
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.394);
}

a.card:hover {
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.394);
}

.cards-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.center {
    text-align: center;
}

.w-border {
    border: 4px solid green;
}

.title-margin {
    margin-bottom: 24px;
}

.bold {
    font-weight: 700;
}

.w-50 {
    width: calc(50% - 15px);
}

/* Profile informations */
img.profile-picture {
    width: 150px;
    border-radius: 100%;
}

.profile-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 14px;
}

/* links list */

.list ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.list a,
.list div {
    display: flex;
    align-items: center;
    padding: 4px 0;
    border-radius: 5px;
    font-weight: 700;
}

.list a:hover {
    background-color: var(--bg-hover);
}

.list i {
    font-size: 26px;
    margin: 0 10px;
}

/* tech list */

.tech-list ul{
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.tech-list li {
    cursor: default;
    font-size: 14px;
    color: black;
    background-color: var(--bg-techs);
    padding: 3px 10px;
    border-radius: 99999px;
}

/* experiences list */

.itens-list li {
    margin: 10px 0 10px 30px;
    padding-left: 5px;
    border-left: 3px solid var(--text-color);
}

.itens-list li *{
    display: block;
}

/* title with seemore */

.w-findmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Project card */

.project-card {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    display: flex;
    align-items: center;
}

.project-title i {
    font-size: 20px;
    margin-right: 8px;
}

.project-description {
    margin: 18px 0;
}

.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-footer .language {
    display: flex;
    align-items: center;
    gap: 6px;
}

.language .language-color {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: rgb(255, 221, 0);
    border: 2px solid var(--text-color);
}




/* ================================== */





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather Sans;
}




/* ================================== */




:root {
    --aside-size: 450px;

    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --bg-hover: #2a2a35;
}