<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <aside>
        <div class="card center">
            <img class="profile-picture w-border" src="img/profile_picture.jpg" alt="">
            <div class="profile-description">
                <h1>Richardy Tanure</h1>
                <span>Estudante de Sistemas da informação</span>
            </div>
        </div>
        <div class="card list">
            <ul>
                <li>
                    <div href="#">
                        <i class="fa-solid fa-location-dot"></i>
                        <span class="bold">Brasil</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card list">
            <ul>
                <li>
                    <a href="https://github.com/rTanure" target="_blank">
                        <i class="fa-brands fa-github"></i>
                        <span class="bold">rTanure</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:richardy.tanure@hotmail.com">
                        <i class="fa-regular fa-envelope"></i>
                        <span class="bold">richardy.tanure@hotmail.com</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/richardy-rodrigues-tanure-342a26207/">
                        <i class="fa-brands fa-linkedin-in"></i>
                        <span class="bold">Richardy Rodrigues Tanure</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card techs">
            <h2 class="title-margin">Tecnologias</h2>
            <div class="tech-list">
                <ul>
                    <li><div class="single-tech">JavaScript</div></li>
                    <li><div class="single-tech">HTML</div></li>
                    <li><div class="single-tech">CSS</div></li>
                    <li><div class="single-tech">NodeJS</div></li>
                    <li><div class="single-tech">MySQL</div></li>
                    <li><div class="single-tech">EJS</div></li>
                    <li><div class="single-tech">GIT</div></li>
                    <li><div class="single-tech">GitHub</div></li>
                    <li><div class="single-tech">Python</div></li>
                </ul>
            </div>
        </div>
        <div class="card experiences">
            <h2 class="title-margin">Experiências</h2>
            <div class="itens-list">
                <ul>
                    <li>
                        <h4>Voluntário | Primeira IPGV</h4>
                        <span>2019 - 2020</span>
                        <span class="bold">Transmissão Ao Vivo</span>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="card education">
            <h2 class="title-margin">Educação</h2>
            <div class="itens-list">
                <ul>
                    <li>
                        <h4>UFOP</h4>
                        <span>2022 - atualmente</span>
                        <span class="bold">Sistemas de informação</span>
                    </li>
                    <li>
                        <h4>C. E. Beldani</h4>
                        <span>2021 - 2021</span>
                        <span class="bold">Ensino Médio</span>
                    </li>
                    <li>
                        <h4>C. F. Imaculada Conceição</h4>
                        <span>2019 - 2020</span>
                        <span class="bold">Ensino Médio</span>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <section>
        <div class="card w-findmore">
            <h2>Meus Projetos</h2>
            <a href="#">Veja Mais</a>
        </div>
        <div class="cards-group">
            <a href="#" class="card w-50 project-card">
                <div class="project-title">
                    <i class="fa-regular fa-folder"></i>
                    <h3>Nome do Projeto</h3>
                </div>
                <div class="project-description">
                    <p>Texto de teste</p>
                </div>
                <div class="project-footer">
                    <div class="stats">
                        <div class="footer-stats">
                            <i class="fa-regular fa-star"></i>
                            <span>100</span>
                        </div>
                    </div>
                    <div class="language">
                        <div class="language-color"></div>
                        <span>JavaScript</span>
                    </div>
                </div>
            </a>
            <a href="#" class="card w-50 project-card">
                <div class="project-title">
                    <i class="fa-regular fa-folder"></i>
                    <h3>Nome do Projeto</h3>
                </div>
                <div class="project-description">
                    <p>Texto de teste</p>
                </div>
                <div class="project-footer">
                    <div class="stats">
                        <div class="footer-stats">
                            <i class="fa-regular fa-star"></i>
                            <span>100</span>
                        </div>
                    </div>
                    <div class="language">
                        <div class="language-color"></div>
                        <span>JavaScript</span>
                    </div>
                </div>
            </a>
            <a href="#" class="card w-50 project-card">
                <div class="project-title">
                    <i class="fa-regular fa-folder"></i>
                    <h3>Nome do Projeto</h3>
                </div>
                <div class="project-description">
                    <p>Texto de teste</p>
                </div>
                <div class="project-footer">
                    <div class="stats">
                        <div class="footer-stats">
                            <i class="fa-regular fa-star"></i>
                            <span>100</span>
                        </div>
                    </div>
                    <div class="language">
                        <div class="language-color"></div>
                        <span>JavaScript</span>
                    </div>
                </div>
            </a>
        </div>
    </section>
</body>
</html>